html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --main-title-color: #2e2f42;
  --main-text-color: #434455;
  --main-background-color: #2e2f42;
  --main-highlight-color: #404bbf;
  --logo-background-color: #4d5ae5;
  --logo-color: #f4f4fd;
  --icon-customers-color: #8e8f99;
  --icon-active-customers-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.header-item > a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
}

.conteiner {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-----------Top line------------ */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.conteiner-header {
  display: flex;
  min-width: 320px;
  width: 100%;
  background: #ffffff;
  height: 70px;
  padding: 24px 16px;
  justify-content: space-between;
}

.conteiner-logo {
  margin: 0;
}

.logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-color {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-td-navigation,
.header-td-contact {
  display: none;
}

.conteiner-menu-open {
  width: 32px;
  height: 22px;
  background-color: transparent;
}

.btn-menu-open {
  display: block;
  width: 32px;
  height: 22px;
  border: none;
  background-color: transparent;
}

.hamburger {
  stroke: #000;
}

/* ---------MOB WINDOWS MENU--------- */
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 40px;
  top: 40px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation {
  font-family: inherit;
  margin-left: 40px;
  margin-top: 80px;
  padding: 0;
}

.header-list {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 0;
  justify-content: left;
}

.header-link {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition-property: color;
}

.header-link:active,
.header-link:hover,
.header-link:focus {
  color: var(--main-highlight-color);
}

.header-link.current {
  color: var(--main-highlight-color);
}

.header-contact {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  margin-top: 284px;
  margin-left: 40px;
  justify-content: left;
  gap: 40px;
}

.header-mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
}

.header-tel {
  font-size: 8vw;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--logo-background-color);
  text-transform: uppercase;
  transition-property: color;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--main-highlight-color);
}

.mob-list-social {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  gap: 24px;
}

.mob-item-social {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-background-color);
  background-size: content;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--logo-color);
  transition-property: background-color;
}

/* Main informaition and service order*/

.order {
  font-family: inherit;
  color: #ffffff;
  display: flex;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
}
.order-bg {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
  display: flex;
  flex-direction: column;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/bg-mob@2x.jpg);
  }
}

.order-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  align-items: center;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 319px;
}

.animate__animated.animate__heartBeat {
  --animate-duration: 1000ms;
}

.order-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  padding: 16px 32px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------Soft skils--------------*/

.skils {
  padding-top: 96px;
  padding-bottom: 96px;
}

.skils-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}

.skils-icon-box {
  display: none;
}

.skils-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
}

.skils-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-left: 0;
  text-align: left;
}

/*---------------Service list----------------*/

.service {
  display: none;
}

/*----------------Team card-----------------*/

.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 128px;
}
.team-title {
  font-size: 36px;
  font-size: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}

.team-item {
  width: 260.35px;
  height: 428px;
  background: #ffffff;
  box-shadow: 1px 0px 2px rgba(46, 47, 66, 0.08),
    1px 0px 1px rgba(46, 47, 66, 0.16), 6px 0px 1px rgba(46, 47, 66, 0.08);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  vertical-align: top;
}

.team-item > img {
  display: block;
}
.conteiner-hero {
  padding: 32px 14px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.team-list-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-social {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-background-color);
  background-size: content;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--logo-color);
  transition-property: background-color;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/*-------------Customers section------------*/

.cutomers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  row-gap: 72px;
}

.customers-item {
  width: 190px;
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 16px 32px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
}

.customers-icon {
  fill: var(--icon-customers-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--icon-active-customers-color);
}

.customers-link:hover > .customers-icon {
  fill: var(--icon-active-customers-color);
}
.customers-link:focus > .customers-icon {
  fill: var(--icon-active-customers-color);
}

/*-------------Footer------------*/

.footer {
  min-height: 470px;
  background: var(--main-background-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer > .conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box {
  margin-top: 0;
  text-align: center;
}
.footer-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-color {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
  text-align: left;
}

.footer-social {
  margin-top: 72px;
  width: 100%;
}

.footer-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-list-social {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-item-social {
  width: 40px;
  height: 40px;
}

.footer-link-social {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  display: flex;
  fill: var(--logo-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-social:focus,
.footer-link-social:hover {
  background-color: rgba(49, 208, 170, 1);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

.subcribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  outline: none;
}

.footer-input::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.6);
  margin-left: 16px;
}

.footer-btn-subscribe {
  width: 165px;
  height: 40px;
  justify-content: center;
  margin-top: 16px;
  padding: 8px 24px;
  background-color: var(--logo-background-color);
  color: #ffffff;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-text {
  display: flex;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.28;
  letter-spacing: 0.04em;
  color: #ffffff;
  align-items: center;
}

.footer-btn-subscribe:focus,
.footer-btn-subscribe:active,
.footer-btn-subscribe:hover {
  background-color: var(--main-highlight-color);
}

.footer-icon-send {
  fill: #ffffff;
  margin-left: 16px;
  align-items: center;
}

/*-------------Modal window------------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: calc(100% - 10px);
  max-width: 392px;
  padding: 0;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:active,
.modal-close:hover,
.modal-close:focus {
  background-color: var(--icon-active-customers-color);
  fill: #ffffff;
  border: 0;
}

.closeX {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

.modal-title-box {
  font-family: inherit;
  vertical-align: top;
  max-width: 392px;
  height: auto;
  margin: 72px 24px 0px;
  background-color: transparent;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  text-align: center;
}

/* ----------Modal form style---------- */
.modal-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-item {
  margin-bottom: 8px;
}

.textarea-label {
  margin-bottom: 16px;
}

.modal-above-text {
  font-size: 12px;
  line-height: 1.14;
  padding-left: 5px;
  align-items: left;
  vertical-align: top;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-box {
  min-width: calc(320px - 30px);
  width: 100%;
  min-height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #000;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-align: left;
  outline-color: none;
}

.modal-box:active,
.modal-box:focus {
  outline-color: var(--logo-background-color);
}

.modal-box:active,
.modal-box:focus + .input-icon {
  fill: var(--logo-background-color);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.textarea-label {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.modal-item-textarea {
  width: 100%;
  min-width: calc(320px - 47.6px);
  min-height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #000;
  outline-color: none;
}

.modal-item-textarea:focus,
.modal-item-textarea:active {
  outline-color: var(--logo-background-color);
}

.modal-textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-conteiner {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 16px;
  text-align: left;
  border-radius: 4px;
  background-color: #fcfcfc;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 16px;
}

.private-policy-text {
  display: flex;
  font-family: inherit;
  font-size: 10px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.private-policy-text::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  padding: 4px 3px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  background-color: transparent;
  align-items: center;
}

.modal-link-text {
  font-family: inherit;
  font-size: 10px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--logo-background-color);
  text-decoration-line: underline;
  padding-left: 2px;
  align-items: center;
}

.input-checked:checked + .private-policy-text::before {
  background-color: var(--main-highlight-color);
  border: 0;
  background-image: url(../img/acceptV.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-btn-send {
  display: flex;
  padding: 16px 32px;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.28;
  letter-spacing: 0.04em;
  background-color: var(--logo-background-color);
  width: 169px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  margin-top: 24px;
  margin: auto;
  margin-bottom: 24px;
  cursor: pointer;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, font-size;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:focus,
.modal-btn-send:active,
.modal-btn-send:hover {
  background-color: var(--main-highlight-color);
  font-size: 20px;
}

/*--------------PORTFOLIO--------------*/

/*-------------filter section------------*/
/* .filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

.box-btn-filter {
  margin-bottom: 72px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.filter-item {
}

.filter-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  text-align: center;} */

/* ----------------box btn style-------------- */

/* padding: 12px 24px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: #ffffff;
  background-color: var(--main-highlight-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
} */

/*------ row-----*/
/* 
.row-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.row-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  vertical-align: top;
  flex-basis: calc((100% - 48px) / 3);
  background: #ffffff;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.row-item > img {
  display: block;
}

.row-item:hover,
.row-item:focus {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.row-item:hover,
.row-item:focus > .conteiner-row-text {
  border: 0;
}

.conteiner-img-overlay {
  display: flex;
  position: relative;
  overflow: hidden;
}

.row-item:hover .conteiner-text-overlay {
  transform: translateY(0);
}
.row-item:focus .conteiner-text-overlay {
  transform: translateY(0);
}
.conteiner-text-overlay {
  display: block;
  background: rgba(77, 90, 229, 1);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  padding: 40px 32px 164px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  overflow: auto;
}

.conteiner-row-text {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}
.row-about {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.row-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
} */
